$worldmap-border-color: #aaa
$worldmap-solution-basecolor: #eee

.evogame--worldmap
  width: 100%

  .evogame--worldmap-row
    .evogame--worldmap-col
      box-sizing: border-box
      display: inline-block
      border: 1px solid $worldmap-border-color
      border-left-width: 0
      border-top-width: 0
      position: relative

      &:first-child
        border-left-width: 1px

    &:first-child
      .evogame--worldmap-col
        border-top-width: 1px

.evogame--worldmap-solution
  background-color: $worldmap-solution-basecolor
  width: 90%
  height: 90%
  position: absolute
  border-radius: 50%
  left: 5%
  top: 5%
